.profile__edit-button {
  margin-top: 15px;
  background-image: url(../../../../../images/Edit\ Button.svg);
  background-color: #000000;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    margin-top: 8px;
    height: 18px;
    width: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}