.popup__input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 72px);
  align-self: center;
  padding: 0;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 500px) {
  .popup__input {
    width: calc(100% - 44px);
    }
}