.profile__add-button {
  display: flex;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1070px) {
  .profile__add-button {
    width: 581px;
    margin: 36px auto 0;
  }
}

@media (max-width: 767px) {
  .profile__add-button {
    width: 282px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}