.profile__avatar {
  max-width: 120px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 1080px) {
  .profile__avatar {
    margin: 0 auto;
  }
}