.location__like {
  background-image: url(../../../images/heart.svg);
  height: 19px;
  width: 22px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}

.location__like:hover {
  opacity: 0.5;
}
