.popup__title {
  width: calc(100% - 72px);
  max-height: 23px;
  margin: 34px auto 24px;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 475px) {
.popup__title {
  width: calc(100% - 44px);
  margin-top: 25px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  max-height: 22px;
  }
}